language: android
sudo: false
android:
    components:
        - build-tools-23.0.2
        - android-23
        - extra-android-m2repository
script:
    - cd opacclient
    - ./gradlew check lint test
cache:
    directories:
        - $HOME/.gradle
