language: android
jdk: oraclejdk8
sudo: false
android:
    components:
        - tools
        - build-tools-24.0.1
        - android-24
        - extra-android-m2repository
script:
    - cd opacclient
    - ./gradlew check lint test jacocoRootReport coveralls
    - cat opacapp/build/outputs/lint-results-debug.xml
cache:
    directories:
        - $HOME/.gradle
