<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.geeksfactory.opacclient"
    android:versionCode="97"
	android:versionName="3.3.3">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name="de.geeksfactory.opacclient.OpacClient"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Opacapp" >
        <activity
            android:name="de.geeksfactory.opacclient.frontend.MainActivity"
            android:label="@string/launcher_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="opacapp.de"
                    android:pathPrefix="/:"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.AccountEditActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.AccountListActivity" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.MainPreferenceActivity"
            android:label="@string/prefs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainActivity" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.AboutActivity"
            android:label="@string/about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainActivity" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.AccountListActivity"
            android:label="@string/title_activity_account_list"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainPreferenceActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.SearchResultListActivity"
            android:label="@string/title_searchresult_list"
            android:parentActivityName="de.geeksfactory.opacclient.frontend.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <intent-filter>
		        <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.SearchResultDetailActivity"
            android:label="@string/title_searchresult_detail"
            android:parentActivityName="de.geeksfactory.opacclient.frontend.SearchResultListActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchResultListActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.LibraryListActivity"
            android:label="@string/title_activity_library_list"
            android:launchMode="singleTop" >
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable_libraries"/>
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.AccountListActivity" />
        </activity>
        <activity
            android:name="de.geeksfactory.opacclient.frontend.SuggestLibraryActivity"
            android:label="@string/title_activity_suggest_library" >
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.LibraryListActivity" />
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Holo.Theme.Dialog" />

        <service android:name="de.geeksfactory.opacclient.reminder.ReminderCheckService" >
        </service>

        <receiver android:name="de.geeksfactory.opacclient.reminder.ReminderBootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.geeksfactory.opacclient.reminder.ReminderAlarmReceiver" >
        </receiver>

        <provider
            android:name="de.geeksfactory.opacclient.storage.StarContentProvider"
            android:authorities="de.geeksfactory.opacclient.starprovider"
            android:exported="false" />
    </application>

</manifest>
