<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.geeksfactory.opacclient"
    android:versionCode="34"
    android:versionName="2.0.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".OpacClient"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.opac" >
        <activity
            android:name=".frontend.SearchActivity"
            android:label="@string/launcher_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="de.geeksfactory.opacclient"
                    android:scheme="opac" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="opacapp.de"
                    android:pathPrefix="/:"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.SearchResultsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/search_results"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.SearchActivity" />
        </activity>
        <activity
            android:name=".frontend.MainPreferenceActivity"
            android:label="@string/prefs" >
        </activity>
        <activity
            android:name=".frontend.SearchResultDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/details"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".frontend.AccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/account" >
        </activity>
        <activity
            android:name=".frontend.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".frontend.AboutActivity"
            android:label="@string/about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainPreferenceActivity" />
        </activity>
        <activity
            android:name=".frontend.ChangelogActivity"
            android:label="@string/changelog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.AboutActivity" />
        </activity>
        <activity
            android:name=".frontend.StarredActivity"
            android:label="@string/starred_list" >
        </activity>
        <activity
            android:name=".frontend.InfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/info" >
        </activity>
        <activity
            android:name=".frontend.AccountListActivity"
            android:label="@string/title_activity_account_list"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.MainPreferenceActivity" />
        </activity>
        <activity
            android:name=".frontend.AccountEditActivity"
            android:label="@string/title_activity_account_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.geeksfactory.opacclient.frontend.AccountListActivity" />
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".reminder.ReminderCheckService" >
        </service>

        <receiver android:name=".reminder.ReminderBootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reminder.ReminderAlarmReceiver" >
        </receiver>
    </application>

</manifest>
